<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-galaxy" version="1.0.8">
    <name>Galaxy</name>
    <description>Cordova Galaxy Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,galaxy</keywords>
    <js-module src="www/galaxy.js" name="galaxy">
        <clobbers target="galaxy" />
    </js-module>
    <dependency id="cordova-plugin-inappbrowser" version="5.0.0" />
    <dependency id="cordova-plugin-advanced-http" version="3.3.1" />
    <dependency id="cordova-plugin-contacts" version="3.0.1" />
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GalaxyPlugin">
                <param name="android-package" value="com.galaxysdk.cordova.plugin.GalaxyPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
    </platform>
    <platform name="ios">
            <preference name="CONTACTS_USAGE_DESCRIPTION" default="Allow access to your contacts to find friends"/>
            <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
                <string>$CONTACTS_USAGE_DESCRIPTION</string>
            </config-file>            
    </platform>
</plugin>
